
body{
    background-image: url(../imagens/wallpaper002.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
}
main{
    background-color: white;
    width: 600px;
    margin:0 auto;
    border-radius: 10px;
}